<div style="width: 100%;" class="loader">
    <div style="display: inline-block;">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>
    <h4 style="display: inline-block; vertical-align:bottom; padding-left: 20px;">Loading...</h4>
</div>