<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/materialize.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script src="js/jquery.min.js"></script>
    <script src="js/materialize.min.js" async></script>
    <script src="js/moment.min.js" async></script>
</head>
<body>
{{> sideNav}}
<div class="container major-container">
    <h1>InDemography</h1>
    <h4 class="stats-title">Female Teachers per 100 male teachers | <span class="filter">Senior Secondary</span></h4>
    <div class="scale">
        <span class="left">Lower</span>
        <span class="right">Higher</span>
    </div>
    <div class="current-info"><h5></h5></div>
    {{> indianMap}}
</div>
<script src="js/functions.js"></script>
</body>
</html>