body {
  background: #000;
}
body * {
  color: white;
}
.scale {
  margin-bottom: 30px;
  height: 30px;
  width: 100%;
}
.scale ul li {
  height: 30px;
  width: 30px;
  display: inline-block;
}
g {
  cursor: pointer;
  outline: whitesmoke;
}
g path {
  fill: inherit;
  stroke: inherit;
  color: inherit;
}
