body{
  background: #000;
  *{
    color: white;
  }
}
.header-container{
  position: fixed;
  top: 0;
  left: 7.5%;
  right: 7.5%;
  margin: auto;
}
.collapsible-header{
  line-height: 64px !important;
}
.button-collapse{
  position: fixed;
  top: 20px;
  left: 20px;
}
.major-container{
  position: relative;
  top: -100px;
}
.map{
  margin-top: 280px;
}
.scale{
  margin-bottom: 30px;
  height: 30px;
  width: 100%;
  span{
    line-height: 30px;
    padding: 0px 10px;
  }
}
g{
  cursor: pointer;
  outline: whitesmoke;
  path{
    fill: inherit;
    stroke: inherit;
    color: inherit;
  }
}